.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #333;
  /* couleur de fond du pied de page */
  color: #089cc5;
  /* couleur du texte */
  text-align: center;

  /* alignement du texte au centre */
  padding: 7px 0;
  /* espace intérieur du pied de page */
}